<!DOCTYPE html>
<html>
<head>
	<title>Famous Cities in India</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	<header>
		<nav class="navbar navbar-light bg-light justify-content-between">
			<a class="navbar-brand">
		  		Item Catalog
		  	</a>
		  <form class="form-inline">
		  <a class="navbar-brand">
		  	<img src="{{creator.picture}}" width="30" height="30" alt="">
		  </a>
		  	{%if 'username' not in session %}
		    <a href="{{url_for('login')}}">Login</a>
		   	{% else %}
			<a href="{{url_for('gdisconnect')}}">Logout</a>
			{% endif %}
		  </form>
		</nav>
	</header>
	<div class="jumbotron">
  		<h1 class="display-3">Famous Cities Catalog</h1>
  		<p class="lead">The catalog consists of a list of famous cities in India. Each city has a list of some famous places to visit.</p>
  		<hr class="my-4">
  		<p>Login to your account to add new places in your city!</p>
	</div>
	{% block content %}
	
	{% endblock %}
</body>
</html>