{% extends "layout.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
		<h3>Add new place in {{this_city}}</h3>
			<form action="{{url_for('addNewPlace',city_name=this_city)}}" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="name" placeholder="name">
				</div>
				<div class="form-group">
				    <textarea class="form-control" name="description" rows="3" placeholder="description"></textarea>
				</div>
				<div class="form-group">
				    <textarea class="form-control" rows="3" name="address" placeholder="address"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}
